<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.xefm.app</string>
    
    <key>CFBundleName</key>
    <string>XeFM</string>
    
    <key>CFBundleDisplayName</key>
    <string>Terminal File Manager</string>
    
    <key>CFBundleExecutable</key>
    <string>XeFM</string>
    
    <key>CFBundleIconFile</key>
    <string>XeFM.icns</string>
    
    <key>CFBundleVersion</key>
    <string>{{VERSION}}</string>
    
    <key>CFBundleShortVersionString</key>
    <string>{{VERSION}}</string>
    
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    
    <key>CFBundleSignature</key>
    <string>????</string>
    
    <key>LSMinimumSystemVersion</key>
    <string>10.13</string>
    
    <key>NSHighResolutionCapable</key>
    <true/>
    
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 XeFM Developer</string>
    
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
